body {background-color: #e7eff6; color:#2a4d69;}

a {color: #4b86b4;}

p {background-color: #adcbe3;}

nav {background-color: #cde4f5;}

h1 {color: #63ace5;}

nav a {color: #7f8d98}

nav a:hover {background-color:#568292;}

nav {padding: 10px;}

nav {margin-bottom: 30px;}