body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

nav 
    {background-color: #dbdbb1;
    padding: 10px;
    margin-bottom: 30px;
    text-align: right;
}

nav a {
    color: #766c2e
}

a {color: #766c2e}

nav a:hover {background-color: #f5f5c7;}

body {
    background-color: #F3E8D9; 
    color: #766c23;
    padding: 20px;
 }

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    width: 300px;
    max-width: 100%;
    margin-left: 40px
}

.row {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.person {
    width: 45%;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #d0c8a8;
    margin-bottom: 20px;
}


.person h3 {
    margin: 10px 0;
}

.person p :not(.credit){
    margin-top: 0;
    text-align: left;
}

.person img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
    height: 250px;
}

.two-images {
    display: flex;
    justify-content: center;
}

.two-images img {
    width: 100px;
    margin: 0 5px;
}

.color1 {
     background-color: #dbdbb1;
}

.color2 {
        background-color: #dbdbb1;
}

.center-row{
    display: flex;
    justify-content: center;
}

.image-block {
    text-align: center;
    margin-bottom: 10px;
}

.credit {
    font-size: 8px;
    margin-top: 1px;
    margin-bottom: 10px;
    font-style: italic;
}

hr {background-color: #766c23;}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9 {
    max-width: 100%;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }
    nav span {
        display: none;
    }
    .person {
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 700px) {
    .logo-section {
        flex-direction: column;
        align-items: center;
    }

    .logo-section div {
        max-width: 700px; 
        width: 100%;
        text-align: left;  
    }

    .logo-section img {
        margin-top: 20px;
        max-width: 250px;
    }
}