body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

nav 
    {background-color: #dbdbb1;
    padding: 10px;
    margin-bottom: 30px;}

nav a {color: #766c2e}

body {background-color: #F3E8D9; color: #766c23}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    width: 300px;
    max-width: 100%;
    margin-left: 20px
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.person {
    width: 45%;
    text-align: center;
}

.person h3 {
    margin: 10px 0;
}

.person p {
    margin-top: 0;
    text-align: left;
}

.person img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}

.horace-photo {max-width: 200px;}

.two-images {
    display: flex;
    justify-content: center;
}

.two-images img {
    width: 100px;
    margin: 0 5px;
}