body {background-color: #e7eff6; color:#2a4d69;}

a {color: #4b86b4;}

nav 
    {background-color: #cde4f5;
    padding: 10px;
    margin-bottom: 30px;}

nav a {color: #7f8d98}

nav a:hover {background-color: #adcbe3;}

h1 {color: #63ace5;}

.evenrow {background-color: #63a2ff;}

h1 {font-size: 3em;}

h2 {font-size: 2em;}

body {font-family:'Courier New', monospace;}

.quote {float: right;}

header img {width: 100%;}

.row1, .row2 {margin: 40px; padding: 30px; display: flex; background-color:#cde4f5; border-radius:1em;}

.address,.links {margin-right: 40px;}

.form, .map {flex: 1;}

.form {margin-right: 40px;}

h1 {text-align: center;}

.firstrow {display: flex;}

.skillstable, .skillsimage {flex: 1;}

.firstrow {margin: 40px; padding: 30px; display: flex; background-color:#cde4f5; border-radius:1em;}

.skillstable {margin: 0;}

.skillsimage {text-align: center;}

.skillstable, .skillsimage {flex-basis: 50%;}